<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="NoOfConn" value="2"/>
        <!-- DB Connection Setting -->
        <add key="DBServer1" value="10.91.75.106" />
        <add key="DBName1" value="ebCOM" />
        <add key="DBUser1" value="ebcomusr" />
        <add key="DBPswd1" value="ebcompwd" />
        <add key="DBServer2" value="10.91.75.106" />
        <add key="DBName2" value="Ecom Online Form" />
        <add key="DBUser2" value="ebuser" />
        <add key="DBPswd2" value="ebuserpwd" />
        <add key="DBTimeOut" value="100" />
    </appSettings>
</configuration>
